body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.markdown-section h1{
    font-weight: 400;
  }
.markdown-section a{
    font-weight: 300;
}
/* .search .input-wrap input{
  font-family: "SimSun";
} */